body{
    margin-top: 8rem;
}
/*MENU*/
nav{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: gray;
    border-bottom: 3px solid indianred;
    align-items: center;
    z-index: 5;
}
nav div{

}
nav .logo{
    height: 5rem;
    margin: 0.8rem 0rem;
}
.logo img{
    height: 100%;
}
nav .enlaces{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.enlaces a{
    margin: 1rem 2rem;
    text-decoration: none;
}
nav .formulario form{
    display: flex;
    flex-direction: column;
}
.formulario div{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}
.formulario button{
    width: 100%;
    padding: 0px;
}
/*SECCION IMAGENES*/
#imagenes{
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#imagenes div{
    margin-top: 1rem;
    max-height: 300px;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 16%;
    min-width: 150px;
}
#imagenes div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#imagenes div p{
    z-index: 1;
    align-self: flex-end;
    width: 100%;
    text-align: center;
    margin: 0%;
    background-color: black;
    color: white;
}
/*SECCION TABLA*/
table{
    margin: 3rem auto;
    border-collapse: collapse;
    width: 75%;
    overflow-x: scroll;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
th,td,tr{
    border: 1px solid black;
}
th,td{
    width: 16%;
}
td.tabla_img{
    padding: 0px;
    line-height: 0px;
}
td.tabla_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}