body{
    background-color: lightslategray;
    margin: 0%;
}
main{
    width: 75%;
    margin: auto;
}
form,h1,h2,h3{
    font-family: 'Texturina', serif;
}
/*MENU*/
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    background-color: rgb(194, 161, 16);
    border-bottom: 5px solid black;
    align-items: center;
    z-index: 5;
    padding-bottom: 0.5rem;
}
header .logo{
    height: 5rem;
    margin: 0.8rem 0rem;
}
.logo img{
    height: 100%;
}
nav .enlaces{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}
.enlaces a{
    font-family: 'Texturina', serif;
    color: black;
    margin: 1rem 0rem;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
}
.enlaces a:hover{
    color: rgb(194, 161, 16);
    background-color: black;
    font-size: 1.8rem;
}
form{
    display: flex;
    flex-direction: column; 
}
form div{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}
label{
    padding-right: 1rem;
}
button{
    width: 100%;
    padding: 0px;
}
/*SECCION IMAGENES*/
h2{
    margin: 0%;
}
.imagenes{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.imagenes div{
    margin-top: 1rem;
    max-height: 300px;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 16%;
    min-width: 150px;
}
.imagenes div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imagenes div p{
    padding: 0.3rem;
    z-index: 1;
    align-self: flex-end;
    width: 100%;
    text-align: center;
    margin: 0%;
    background-color: black;
    color: white;
}
/*SECCION TABLA*/
#tabla{
    margin-top: 3rem;
}
table{
    margin: 1rem auto;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    text-align: center;
    font-size: 1.1rem;
}
thead{
    background-color: black;
    color: rgb(194, 161, 16);
}
td,tr{
    border: 1px solid black;
}
th,td{
    width: 16%;
}
th:nth-child(n+2){
    padding: 0.7rem;
    border-left: 1px solid rgb(128, 125, 125);
}
tbody tr:nth-child(2n){
    background-color: rgb(206, 180, 65);
}
tbody tr:nth-child(2n+1){
    background-color: rgb(187, 186, 186);
}
thead,tbody tr td:first-child{
    font-family: 'Texturina', serif;
    font-size: 1.4rem;
}
td div{
    display: flex;
    align-items: center;
    justify-content: center;
}
td.tabla_img{
    padding: 0px;
    line-height: 0px;
}
td.tabla_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}