/*MENU*/
nav{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: gray;
    border-bottom: 3px solid indianred;
    align-items: center;
}
nav div{

}
nav .logo{

}
nav .enlaces{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
nav .formulario form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.formulario div{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}
.formulario button{
    width: 100%;
    padding: 0px;
}
/*SECCION IMAGENES*/